Package: sample-filter
Version: 1.0.4
Source: base
Priority: optional
Architecture: all
Maintainer: Zebra
Description: Sample RFID tag filter DA app - filters tags by prefix (fixed permissions)
APP_TYPE: DA
